### OS and filesystem

In [2]:
import os

In [3]:
os.getcwd() # current directory

'C:\\Users\\akhan'

In [3]:
help(os.listdir)

Help on built-in function listdir in module nt:

listdir(path=None)
    Return a list containing the names of the files in the directory.

    path can be specified as either str, bytes, or a path-like object.  If path is bytes,
      the filenames returned will also be bytes; in all other circumstances
      the filenames returned will be str.
    If path is None, uses the path='.'.
    On some platforms, path may also be specified as an open file descriptor;\
      the file descriptor must refer to a directory.
      If this functionality is unavailable, using it raises NotImplementedError.

    The list is in arbitrary order.  It does not include the special
    entries '.' and '..' even if they are present in the directory.

In [4]:
os.listdir('.') # relative path

['.anaconda',
 '.bash_history',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.eclipse',
 '.gitconfig',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lemminx',
 '.lesshst',
 '.m2',
 '.ms-ad',
 '.p2',
 '.vscode',
 'anaconda3',
 'AppData',
 'Application Data',
 'ARK New Notebook.ipynb',
 'ARK_Python_Project.ipynb',
 'ARK_python_variables_datatype.ipynb',
 'climate.txt',
 'climate_results.txt',
 'Contacts',
 'Cookies',
 'data',
 'Documents',
 'Downloads',
 'eclipse',
 'eclipse-workspace',
 'Favorites',
 'Links',
 'Local Settings',
 'Microsoft',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{af9e190f-9f59-11ed-9efb-dac1d5781cd0}.TM.blf',
 'NTUSER.DAT{af9e190f-9f59-11ed-9efb-dac1d5781cd0}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{af9e190f-9f59-11ed-9efb-dac1d5781cd0}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numerical-Computing-with-Numpy.ipynb',
 'OneDrive',
 'PrintHood',
 'PycharmProjects',
 'python-os-and-filesystem.ipynb',
 'Python_Functions.ipynb',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Untitled Folder',
 'venv',
 'Videos']

In [5]:
os.listdir('/users') # absolute path

['akhan', 'All Users', 'Default', 'Default User', 'desktop.ini', 'Public']

In [6]:
os.makedirs('./data', exist_ok=True) # Create directory -> data

In [7]:
'data' in os.listdir('.')

True

In [8]:
os.listdir('./data')

['loan1.txt', 'loan2.txt', 'loans1.txt']

In [9]:
# Downloading url
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'

In [4]:
import urllib.request

In [11]:
urllib.request.urlretrieve(url1, './data/loans1.txt')

('./data/loans1.txt', <http.client.HTTPMessage at 0x2a33e3a8c90>)

In [12]:
file3 = open('./data/loans1.txt', mode='r') # Open file

In [13]:
file1 = open('./data/loan1.txt', mode='r') # Open file

In [14]:
file3_contents = file3.read() # Read contents
print(file3_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [15]:
file3_contents

'amount,duration,rate,down_payment\n100000,36,0.08,20000\n200000,12,0.1,\n628400,120,0.12,100000\n4637400,240,0.06,\n42900,90,0.07,8900\n916000,16,0.13,\n45230,48,0.08,4300\n991360,99,0.08,\n423000,27,0.09,47200'

In [16]:
file3.close()

In [18]:
# Closing files automatically using "with"
with open('./data/loans1.txt', 'r') as file3:
    file3_contents = file3.read()
    print(file3_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [21]:
file3.read()

ValueError: I/O operation on closed file.

In [22]:
with open('./data/loan2.txt', 'r') as file2:
    file2_lines = file2.readlines()
    print(file2_lines)

['amount,duration,rate,down_payment\n', '100000,60,0.05,20000\n', '15000,36,0.09,\n', '350000,72,0.025,35000\n', '42900,90,0.08,43000\n', '900000,360,0.020,180000']

In [23]:
# Reading a file line by line
file2_lines

['amount,duration,rate,down_payment\n',
 '100000,60,0.05,20000\n',
 '15000,36,0.09,\n',
 '350000,72,0.025,35000\n',
 '42900,90,0.08,43000\n',
 '900000,360,0.020,180000']

In [ ]:
# Remove new line character
file2_lines[0].strip()

In [ ]:
# Processing data from files
'''STEPS:
-Read the file line by line
-Parse the first line to get a list of the column names or headers
-Split each remaining line and convert each value into a float
-Create a dictionary for each loan using the headers as keys
-Create a list of dictionaries to keep track of all the loans
'''

In [27]:
print(file3_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [ ]:
# Blank

In [28]:
file3 = open('./data/loans1.txt', mode='r') # Open file

In [29]:
file3_contents = file3.read() # Read contents
print(file3_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [30]:
with open('./data/loans1.txt', 'r') as file3:
    file3_lines = file3.readlines()
    print(file3_lines)

['amount,duration,rate,down_payment\n', '100000,36,0.08,20000\n', '200000,12,0.1,\n', '628400,120,0.12,100000\n', '4637400,240,0.06,\n', '42900,90,0.07,8900\n', '916000,16,0.13,\n', '45230,48,0.08,4300\n', '991360,99,0.08,\n', '423000,27,0.09,47200']

In [31]:
file3_lines

['amount,duration,rate,down_payment\n',
 '100000,36,0.08,20000\n',
 '200000,12,0.1,\n',
 '628400,120,0.12,100000\n',
 '4637400,240,0.06,\n',
 '42900,90,0.07,8900\n',
 '916000,16,0.13,\n',
 '45230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '423000,27,0.09,47200']

In [32]:
# Defining a function parse_header which takes a line as input and returns a list of column headers.
def parse_headers(header_line):
    return header_line.strip().split(',')

In [33]:
file3_lines[0]

'amount,duration,rate,down_payment\n'

In [34]:
headers = parse_headers(file3_lines[0])

In [35]:
headers

['amount', 'duration', 'rate', 'down_payment']

In [36]:
# Defining a function parse_values which takes a line containing some data, and returns a list of floating point numbers.
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
         values.append(float(item))
    return values

In [37]:
file3_lines[3]

'628400,120,0.12,100000\n'

In [38]:
file3_lines[3].strip().split(',')

['628400', '120', '0.12', '100000']

In [39]:
parse_values(file3_lines[3])

[628400.0, 120.0, 0.12, 100000.0]

In [40]:
file3_lines[2]

'200000,12,0.1,\n'

In [41]:
file3_lines[2].strip().split(',')

['200000', '12', '0.1', '']

In [42]:
parse_values(file3_lines[2]) # giving error

ValueError: could not convert string to float: ''

In [43]:
# parse_values function to handle edge case
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
             values.append(float(item))
    return values

In [44]:
file3_lines[2]

'200000,12,0.1,\n'

In [46]:
parse_values(file3_lines[2])

[200000.0, 12.0, 0.1, 0.0]

In [59]:
# Read file and coverted to a list of dictionaries. Source: aakashns/python-os-and-filesystem
 
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

In [61]:
read_csv('./data/loans1.txt')

[{'amount': 100000.0, 'duration': 36.0, 'rate': 0.08, 'down_payment': 20000.0},
 {'amount': 200000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0},
 {'amount': 628400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0},
 {'amount': 4637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 916000.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0},
 {'amount': 45230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0},
 {'amount': 423000.0, 'duration': 27.0, 'rate': 0.09, 'down_payment': 47200.0}]

In [62]:
# Do the calculation of monthly installment
import math
def loan_emi(amount, duration, rate, down_payment=0):
    
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1) # emi formula
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [63]:
loans3 = read_csv('./data/loans1.txt')

In [64]:
loans3

[{'amount': 100000.0, 'duration': 36.0, 'rate': 0.08, 'down_payment': 20000.0},
 {'amount': 200000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0},
 {'amount': 628400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0},
 {'amount': 4637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 916000.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0},
 {'amount': 45230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0},
 {'amount': 423000.0, 'duration': 27.0, 'rate': 0.09, 'down_payment': 47200.0}]

In [65]:
# Calculate emi based in input from loans1.txt
for loan in loans3:
    loan['emi'] = loan_emi(loan['amount'], 
                           loan['duration'], 
                           loan['rate']/12, # the CSV contains yearly rates
                           loan['down_payment'])

In [66]:
loans3

[{'amount': 100000.0,
  'duration': 36.0,
  'rate': 0.08,
  'down_payment': 20000.0,
  'emi': 2507},
 {'amount': 200000.0,
  'duration': 12.0,
  'rate': 0.1,
  'down_payment': 0.0,
  'emi': 17584},
 {'amount': 628400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0,
  'emi': 7582},
 {'amount': 4637400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33224},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.07,
  'down_payment': 8900.0,
  'emi': 487},
 {'amount': 916000.0,
  'duration': 16.0,
  'rate': 0.13,
  'down_payment': 0.0,
  'emi': 62664},
 {'amount': 45230.0,
  'duration': 48.0,
  'rate': 0.08,
  'down_payment': 4300.0,
  'emi': 1000},
 {'amount': 991360.0,
  'duration': 99.0,
  'rate': 0.08,
  'down_payment': 0.0,
  'emi': 13712},
 {'amount': 423000.0,
  'duration': 27.0,
  'rate': 0.09,
  'down_payment': 47200.0,
  'emi': 15428}]

In [ ]:
def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(
            loan['amount'], 
            loan['duration'], 
            loan['rate']/12, # the CSV contains yearly rates
            loan['down_payment'])