In [1]:
# My Python Notebook

In [2]:
# Creating Varables and checking Data Types

In [3]:
a_number = 'Working on Python Project!'
print (a_number)

Working on Python Project!

In [4]:
type(a_number)

str

In [1]:
pi = 3.14
print(pi)

3.14

In [2]:
type(45 * 3.0)

float

In [6]:
5 + False

5

In [7]:
7 + True

8

In [1]:
# Performing operations on variables
x = 10
y = 5

# Addition
sum_result = x + y

# Subtraction
difference = x - y

# Multiplication
product = x * y

# Division
quotient = x / y

# Modulus (remainder)
remainder = x % y

In [2]:
print(difference)

5

In [3]:
remainder

0

In [8]:
# Reversing a list using slicing technique
def Reverse(lst):
   new_lst = lst[::-1]
   return new_lst
 
 
lst = [11, 15, 18, 23, 10, 19]
print(Reverse(lst))

[19, 10, 23, 18, 15, 11]

In [5]:
# Reversing a list using two-pointer approach
def reverse_list(arr):
    left = 0
    right = len(arr)-1
    while (left < right):
        # Swap
        temp = arr[left]
        arr[left] = arr[right]
        arr[right] = temp
        left += 1
        right -= 1
 
    return arr
 
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(reverse_list(arr))

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
# Add the elements of one list to the end of another list
my_list = ['apple', 'orange', 'cherry' , 'grape']
another_list = [9, 10, 23, 77]
my_list.append(another_list)
print (my_list)

['apple', 'orange', 'cherry', 'grape', [9, 10, 23, 77]]

In [11]:
my_list = ['apple', 'banana' , 'durian']
another_list = [3, 4, 7, 10]
my_list.extend(another_list)
print (my_list)

['apple', 'banana', 'durian', 3, 4, 7, 10]

In [12]:
# Sort a list od strings in alphabetic order
myList = ['durian' , 'kiwi' , 'pineApple' , 'orange' , 'apple']
print("The list is:" , myList)
myList.sort()
print("The reverse sorted List is:" , myList)

The list is: ['durian', 'kiwi', 'pineApple', 'orange', 'apple']
The reverse sorted List is: ['apple', 'durian', 'kiwi', 'orange', 'pineApple']

In [4]:
# Sort a list of numbers in decreasing order
nums = [1, 7, 23, 8, 2, 2, 2, 9, 11, 8, 7, 3]
nums.sort()
print('List in Ascending Order: ', nums)

nums.sort(reverse=True)
print('List in Descending Order: ', nums)

List in Ascending Order:  [1, 2, 2, 2, 3, 7, 7, 8, 8, 9, 11, 23]
List in Descending Order:  [23, 11, 9, 8, 8, 7, 7, 3, 2, 2, 2, 1]

### Dictionary

In [14]:
person1 = {
    'name': 'John Adam',
    'sex' : 'Male',
    'age' : 35,
    'married' : True
}

In [15]:
person1

{'name': 'John Adam', 'sex': 'Male', 'age': 35, 'married': True}

In [16]:
person2 = dict(name='Abdur Khan', sex = 'Male' , age= 54, married = True)

In [17]:
person2

{'name': 'Abdur Khan', 'sex': 'Male', 'age': 54, 'married': True}

In [18]:
type(person1)

dict

In [19]:
person1['name']

'John Adam'

In [20]:
person2.get("address" , "Unknown")

'Unknown'

In [21]:
person1['address']= '53, Brook Heaven Rd '

In [22]:
person1

{'name': 'John Adam',
 'sex': 'Male',
 'age': 35,
 'married': True,
 'address': '53, Brook Heaven Rd '}

In [23]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married', 'address'])

In [24]:
person1.values()

dict_values(['John Adam', 'Male', 35, True, '53, Brook Heaven Rd '])

In [25]:
person1.items()

dict_items([('name', 'John Adam'), ('sex', 'Male'), ('age', 35), ('married', True), ('address', '53, Brook Heaven Rd ')])

In [8]:
# Create a varible inside a function having same name as the global variables

x = "beatiful"

def myfunc():
  x = "panaromic view"
  print("Lake Hefner have " + x)

myfunc()

print("Lake Hefner is " + x)

Lake Hefner have panaromic view
Lake Hefner is beatiful